[Unit]
Description=Job that runs the relaychess daemon
Documentation=man:relaychess(1)
After=syslog.target network.target mongodb.service

[Service]
Type=simple
User=lila
Group=lila
ExecStart=/usr/bin/node /home/lila/relay/app.js
Restart=always

[Install]
WantedBy=multi-user.target
