
/*login*/
.login-header {
    font-size:30px;

    margin-bottom: 15px;

    color: white;
}

.login-header.sub {
    font-size:16px;

    margin-top: -12px;
    margin-bottom: 15px;

    color: rgba(255, 255, 255, 0.5);
}


.login-header.sub-error {
    font-size:16px;

    margin-top: -12px;
    margin-bottom: 15px;

    color: rgba(255, 104, 104, 1);
}

.inp-border {
    height:45px;
    margin-top: 12px;
    margin-bottom: 12px;
    width:100%;

    font-size:16px;
    color: white;

    background: none;

    border:none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.41);
}

.inp-border:focus {
    outline: none;

    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

.inp-border.ng-not-empty.error {
    border-bottom: 1px solid rgba(255, 0, 22, 0.7);
}

/*buttons*/
.btn-border {
    background: linear-gradient(to bottom,rgba(40,40,40,1),rgba(34,34,34,1) 100%);
    text-shadow: 0 1px 0 #000;

    border-color: #323232;
    color: #8f8f8f;
    font-weight: bold;

    border-radius: 2px;
    border-style: solid;
    border-width: 1px;

    cursor: pointer;

    padding: 6px 11px;
    white-space: nowrap;
    text-decoration: none!important;
}

.btn-border:hover {
    background: linear-gradient(to bottom, rgb(45, 45, 45), rgb(38, 38, 38) 100%);
    text-decoration: none;
    color:white;
}

.btn-border.btn-big {
    padding: 11px 30px;
}

.btn-border.yellow {
    color: #5d4317;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.56);

    background: linear-gradient(to bottom, rgb(255, 211, 101), rgb(214, 146, 33) 100%);
    border-color: rgba(183, 150, 40, 0.5);
}

.btn-border.yellow:hover {
    color: #ffffff;
    text-shadow: 0 1px 0 rgba(41, 41, 41, 0.56);

    background: linear-gradient(to bottom, rgb(167, 138, 66), rgb(165, 113, 25) 100%);

    border-color: #b79628;
}

.btn-border:active {
    position:relative;
    top:1px;
}

.btn-border.disabled:active {
    position:relative;
    top:0px;
}

/*green*/
.btn-border.green {
    border:1px solid #00e87e;
    color:#00e87e;
}

.btn-border.green.disabled {
    border:1px solid rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.4);
}

.btn-border.green:hover {
    background: rgba(0, 232, 126, 0.15);
}

.btn-border.green.disabled:hover {
    background: none;
}

/*forgot button*/
.btn-forgot {
    cursor: pointer;
    line-height:39px;

    background: none;
    border:none;

    font-size:14px;

    color: rgba(255, 255, 255, 0.4);
    transition: 0.5s;
}

.btn-forgot:hover {
    color: rgba(255, 255, 255, 0.8);
}

.btn-forgot:active {
    color: rgba(255, 255, 255, 1);
}

.btn-forgot:focus {
    outline:none;
}

.btn-menu {
    background: rgba(0, 0, 0, 0.2);

    text-decoration: none;

    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;

    height:35px;
    line-height: 35px;

    width:100px;

    margin:0 5px 0 5px;

    color:#bdbdbd;

    cursor: pointer;
}

.btn-menu:hover {
    color: rgba(255, 255, 255, 0.8);
    background: rgba(0, 0, 0, 0.4);
}

.btn-menu:active {
    color: rgba(255, 255, 255, 1);
}

.btn-menu.current {
    color: #d5ac34;
}

/* seeks */
.seek-base {
    height: 50px;
    line-height:50px;

    background-color: rgba(255, 255, 255, 0.1);

    cursor:pointer;
}

.seek-base.odd {
    background-color: rgba(255, 255, 255, 0.05);
}

.seek-base.self {
    background-color: rgba(206, 171, 43, 0.2);
}

.seek-base:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.seek-time-button {
    margin-top:3px;
    margin-bottom:3px;
}

/* games */
.game-base {
    background-color: rgba(255, 255, 255, 0.1);

    cursor:pointer;
}

.game-base.odd {
    background-color: rgba(255, 255, 255, 0.05);
}

.game-base.self {
    background-color: rgba(206, 171, 43, 0.2);
}

.game-base:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

/* rules */
.rule-header {
    font-family: 'PT Serif','Noto Sans','Lucida Grande';
    font-size: 25px;
    font-style: italic;

    padding:30px 0 30px 0;
}

.rule {
    font-family: 'PT Serif','Noto Sans','Lucida Grande';
    font-size: 20px;
    border-top: 1px solid rgba(170, 170, 170, 0.19);
    font-style: italic;

    padding:30px 0 30px 0;
}

.rule-footer {
    font-family: 'PT Serif','Noto Sans','Lucida Grande';
    font-size: 15px;
    font-style: italic;
    border-top: 1px solid rgba(170, 170, 170, 0.19);

    padding:30px 0 30px 0;
}

/* head menu */
.headMenu {
    background: rgba(0, 0, 0, 0.2);

    text-decoration: none;

    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;

    height:40px;
    line-height:40px;


    padding:0 5px 0 5px;

    color:#bdbdbd;

    cursor: pointer;

    display: inline-block;
    position: absolute;
    margin-left: 70px;
}

.headMenuItem {
    display: inline-block;
    width: 40px;
    font-size: 20px;

    color: #6e6e6e;

    cursor: pointer;
    transition: 0.2s;
}

.headMenuItem.enabled {
    color: #bdbdbd;
}

.headMenuItem.enabled:hover{
    color: #ffffff;
}

.headMenuItem.disabled {
    color: #6e6e6e;
}

.headMenuItem.disabled:hover {
    color: #a0a0a0;
}

.headMenuUsername {
    display: inline-block;
    margin:0 5px 0 5px;

    font: 13px 'Roboto','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
    font-weight: bold;

    color: #8f8f8f;
    transition: 0.2s;
}

.headMenuUsername.register {
    color: #d5ac34;
}

.headMenuUsername:hover {
    color: #ffffff;
}